<ion-view view-title="S'inscrire" name="login-view">
    <ion-content  has-header="true" has-footer="true" >
<div class="list">
    <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Adresse</span>
        <input type="text" placeholder="Adresse">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Code Postal</span>
        <input type="text" placeholder="Code Postal">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Ville</span>
        <input type="text" placeholder="Ville">
    </label>
    <button class="button button-block button-calm" ng-click="signin()">Sign In</button>
</div>
    </ion-content>
    </ion-view>