<ion-view view-title="Sign In" name="login-view">
    <ion-content  has-header="true" has-footer="true" >
<div class="list">
    <label class="item item-input item-floating-label">
        <span class="input-label">Prénom</span>
        <input type="text" name="prenom" placeholder="Prénom">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input type="text" name="nom" placeholder="Nom">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" name="email" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Adresse</span>
        <input type="text" name="adresse" placeholder="Adresse">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Code Postal</span>
        <input type="text" name="code_postal" placeholder="Code Postal">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Ville</span>
        <input type="text" name="ville" placeholder="Ville">
    </label>
    <label class="item item-input item-floating-label">
        <span class="item-label"> CV</span>
        <input type="file" name="cv">
    </label>
    <label class="item item-input item-floating-label">
        <span class="item-floating-label">RQTH</span>
        <input type="file" name="rqth">
    </label>
    <button class="button button-block button-calm" ng-click="signin()">Inscription</button>
</div>
    </ion-content>
    </ion-view>