/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.slider
{
    height: 95%;

}
.image1
{
    background-color: #262626;
}
.image2
{
    background-color: #387ef5;
}
.image3
{
    background-color: #880000;
}